---
layout: default
---

<div class="initiative-description">
  <p class="intro-message">Want to build a social network that empowers the homeless community? Create an app to help homeless youth find shelter? Mine and visualize data on the true causes and solutions to homelessness?</p>
  <p class="intro-message">Join us on May 2-4 for an intense weekend of designing, hacking and learning at Impact Hub Seattle! Designers, developers, social media experts, marketers, storytellers, and all other varieties of innovator are invited. Bring your own ideas or work side-by-side with one of our many non-profit partners on their urgent technology needs.</p>
  <p class="intro-message strong">Build Something that Matters.</p>

  <p id="eventbrite"><a href="https://www.eventbrite.com/e/hack-to-end-homelessness-seattle-tickets-11125365267?ref=ebtnebtckt" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=11125365267" alt="Eventbrite - Hack to End Homelessness - Seattle" /></a></p>
</div>

<hr>

<h2>Details:</h2>
<h3>Between May 1 and 4, 2014, we will host a series of events at Pioneer Square's <a href="http://www.impacthubseattle.com">Impact Hub</a>:</h3>
<ul class="events">
  <li><b>Thursday, May 1</b>: <a href="http://www.firstthursdayseattle.com">First Thursday ArtWalk</a> in Pioneer Square with featured art at Impact Hub.</li>
  <ul>
  Featuring photos from Dan Lamont's <a href="http://www.danlamont.com/index.php#/homeless-in-america/Lamont10092502090">Homeless in Washington</a> series, photos from University District Youth Center program participants curated by <a href="http://michaelbmaine.com/">Michael B. Maine</a>, and portraits from Rex Hohlbein's <a href="http://www.facinghomelessness.com/community.html">Facing Homelessness</a>.<br />
  <br />
</ul>
  <li><b>Friday, May 2, 7:00 pm</b>: Seattle premiere screening of <a href="http://athomedocumentary.org">@home</a>.</li>
   <ul>
  Featuring reception by La Bodega and post-film discussion director Susanne Suffredin, Mark Horvath, subject of film and creator of InvisiblePeople.tv, and Mark Putnam of the Committee to End Homelessness in King County</li><br />
  </ul>
  <li><b>Saturday and Sunday, May 3-4</b>: Hackathon for technologists, innovators, and leading non-profits. More information at our <a href="{{site.baseurl}}/participate/">Participant FAQ</a>.</li>
  <li><b>Sunday, May 4, 5:00 pm</b>: Capstone presentations and reception, with panel featuring:</li>
   <ul>
  Kollin Min, Senior Program Officer, Bill & Melinda Gates Foundation</li><br />
  Rebecca Lovell, Startup Liaison, City of Seattle<br />
  Mike Mathieu, founder of FrontSeat and WalkScore<br />
  Judy Lightfoot, Reporter, Crosscut<br />
  Tim Harris, Executive Director, Real Change<br />
 </ul>
</ul>
<p>Impact Hub Seattle is located at <a href="https://www.google.com/maps/place/Impact+Hub+Seattle/@47.600342,-122.331132,17z/data=!3m1!4b1!4m2!3m1!1s0x54906abadfbfb47b:0xd05a0d4f34fa1c1a">220 2nd Ave S, Seattle, WA.</a></p>

<hr>


{% comment %}
<h2>Recent posts:</h2>
<div class="posts">
  {% for post in site.posts limit:5 %}
    {% if post.published %}
      <div class="post">
        <p class="post-date">{{ post.date | date: "%d %B %Y" }} ~ {{ post.author }}</p>
        <a href="{{ post.url }}" class="{{ post.slug }}">
          <h3 class="post-title">{{ post.title }}</h3>
        </a>
        <div class="post-content">{{ post.excerpt | truncate: 400 }}</div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<hr>
{% endcomment %}
<h2>Sponsors:</h2>
<div class="sponsors">
  <li><img src="{{site.baseurl}}/img/globys.jpg"></li>
  <img src="{{site.baseurl}}/img/ugm.jpg">
  <img src="{{site.baseurl}}/img/bittitan.png">
</div>
<hr>

<h2>Supporters:</h2>
<p style="text-align:center;">Thank you to the supporters of Hack to End Homelessness!</p>


<ul>
  <li>Dave Nichols</li>
  <li>Greg Bellinger & guest</li>
  <li>Steph & Keerat Sharma</li>
  <li>Val Sanford</li>
</ul>
<p style="text-align:center;"><a href="https://www.eventbrite.com/e/hack-to-end-homelessness-seattle-tickets-11125365267?ref=ebtnebtckt" target="_blank">Purchase the supporter package</a> to be listed here.</p>
<hr>

<h2>Partners:</h2>
<img src="{{site.baseurl}}/img/partners.png">
<hr>




<h2><a class="twitter-timeline" href="https://twitter.com/hack2end">@hack2end</a> on twitter</h2>

<div style="text-align:center;">
<a class="twitter-timeline" href="https://twitter.com/hack2end" data-widget-id="450754154449747968">Tweets by @hack2end</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<hr>




