---
layout: default
---

<div class="initiative-description">
  <p class="intro-message">Hack to End Homelessness brings together Seattle's housing advocacy community and service providers with the best minds in technology and innovation. Our goal is to design and build solutions to all forms of homelessness, from the homelessness we see on the streets to the hidden problem of family homelessness.</p> 

  <p id="eventbrite"><a href="https://www.eventbrite.com/e/hack-to-end-homelessness-seattle-tickets-11125365267?ref=ebtnebtckt" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=11125365267" alt="Eventbrite - Hack to End Homelessness - Seattle" /></a></p>
</div>

<hr>

<h2>Events:</h2>
<h3>Between May 1 and 4, 2014, we will host a series of events at Pioneer Square's Impact Hub:</h3>
<ul class="events">
  <li>On Thursday, May 1: <a href="http://www.firstthursdayseattle.com">First Thursday ArtWalk</a> in Pioneer Square with featured art at Impact Hub.</li>
  <li>On Friday, May 2, we will host a screening of <a href="http://athomedocumentary.org">@home</a>, a documentary that follows social media advocate Mark Horvath of InvisiblePeople.tv on a cross-country exploration of homelessness.</li>
  <li>On Saturday and Sunday, May 3-4, we will host the Hack to End Homelessness, where advocates, service providers, and technologists will collaborate to design projects. The weekend will culminate in a pitch event Sunday evening that will be open to the public.</li>
</ul>

<hr>

<h2>Recent posts:</h2>
<div class="posts">
  {% for post in site.posts limit:5 %}
    {% if post.published %}
      <div class="post">
        <p class="post-date">{{ post.date | date: "%d %B %Y" }} ~ {{ post.author }}</p>
        <a href="{{ post.url }}" class="{{ post.slug }}">
          <h3 class="post-title">{{ post.title }}</h3>
        </a>
        <div class="post-content">{{ post.excerpt | truncate: 400 }}</div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<hr>

<h2><a class="twitter-timeline" href="https://twitter.com/hack2end">@hack2end</a> on twitter</h2>

<div style="text-align:center;">
<a class="twitter-timeline" href="https://twitter.com/hack2end" data-widget-id="450754154449747968">Tweets by @hack2end</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<hr>

<h2>Partners:</h2>
<img src="{{site.baseurl}}/img/partners.png">
<hr>

<h2>Supporters:</h2>
<p style="text-align:center;">Thank you to the supporters of Hack to End Homelessness!</p>

<ul>
  <li></li>
  <li></li>
<ul>

<p style="text-align:center;"><a href="https://www.eventbrite.com/e/hack-to-end-homelessness-seattle-tickets-11125365267?ref=ebtnebtckt" target="_blank">Purchase the supporter package</a> to be listed here.</p>
<hr>
