---
layout: default
---

{% for project in site.data.projects %}
<div id="project-{{ project.id }}" class="project">
  <h3 class="team-name">{{ project.team-name }}</h3>
  {% if project.slogan %}
  <div class="slogan">"{{ project.slogan }}"</div>
  {% endif %}
  <a href="{% if project.live-link %}{{ project.live-link }}{% else %}/presentations/{{ project.id }}.pdf{% endif %}"><img class="screenshot" src="/img/projects/{{ project.id }}.jpg" /></a>
  <div class="links">
    <a class="live-link" href="{{ project.live-link }}">{{ project.live-link-text }}</a>
    <a class="repo-link" href="{{ project.repo-link }}">{{ project.repo-link-text }}</a>
    <a class="presentation-link" href="/presentations/{{ project.id }}.pdf">Slides</a>
  </div>
  <ul class="team-members">
    {% for member in project.team-members %}
    <li>{{ member }}</li>
    {% endfor %}
  </ul>
  <div class="description">{{ project.description }}</div>
  <hr />
</div>
{% endfor %}