---
---

<!DOCTYPE html>
<html>
<head>
  <title>
    Hack to End Homelessness – Seattle, WA
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Hack to End Homelessness is an initiative bringing together technologists, entrepreneurs, local businesses, policymakers, advocates, & service providers to end homelessness in Seattle, WA.">
  <meta name="viewport" content="width=device-width">

  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
  <link href="{{ site.baseurl }}/style.css" rel="stylesheet" />
</head>
<body class="{{ page.slug }}">

<header>
  <div class="container">
    <h1 class="site-title">
      <img src="{{ site.baseurl }}/img/logo.png" style="width:200px; height:auto;"><br>
      <a href="/">Hack to End Homelessness</a>
    </h1>
    <div class="site-description">Seattle, WA ~ May 1-4, 2014</div>
    <ul id="main-nav">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/news/">News</a></li>
      <li><a href="{{ site.baseurl }}/participate/">Participant FAQ</a></li>
      <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
      <li><a href="{{ site.baseurl }}/schedule/">Schedule</a></li>
      <li><a href="{{ site.baseurl }}/team/">Team</a></li>
      <li><a href="https://www.eventbrite.com/e/hack-to-end-homelessness-seattle-tickets-11125365267?ref=ebtnebtckt" target="_blank">Tickets</a></li>
    </ul>
    <hr>
  </div>
</header>

<main role="main">
  <div class="container">
    {{ content }}
  </div>
</main>

<footer>
  <div class="container">
    <p>contact@hacktoendhomelessness.com | <a href="{{ site.baseurl }}/codeofconduct/">Code of Conduct</a></p>
  </div>
</footer>

  <script>
  if (location.hostname === 'codeforseattle.org') {
    location.href = 'http://www.hacktoendhomelessness.com';
  }
  </script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49604223-1', 'hacktoendhomelessness.com');
  ga('send', 'pageview');

  </script>
</body>
</html>
