---
---

<!DOCTYPE html>
<html>
<head>
  <title>
    Hack to End Homelessness – Seattle, WA
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Hack to End Homelessness is an initiative bringing together technologists, entrepreneurs, local businesses, policymakers, advocates, & service providers to end homelessness in Seattle, WA.">
  <meta name="viewport" content="width=device-width">

  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
  <link href="{{ site.baseurl }}/style.css" rel="stylesheet" />
</head>
<body>

<header>
  <div class="container">
    <h1 class="site-title">
      <a href="/">Hack to End Homelessness</a>
    </h1>
    <div class="site-description">Seattle, WA ~ May 1-6, 2014</div>
    <ul id="main-nav">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/participate">Participate</a></li>
    </ul>
    <hr>
  </div>
</header>

<main role="main">
  <div class="container">
    {{ content }}
  </div>
</main>

<footer>
  <div class="container">
    
  </div>
</footer>

</body>
</html>